@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// $text-color:       #111 !default;
// $background-color: #fdfdfd !default;
// $codeblock-background-color: #eef !default;
$text-color: #efefef !default;
$background-color:       #020202 !default;
$codeblock-background-color: #242424 !default;
$codeblock-background-color-transparent: rgba(36, 36, 36, 0.6) !default;


$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          800px !default;
$on-laptop:        1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


a {
  color: $text-color;
  text-decoration: underline;
  
  &:visited {
    color: $text-color;
    
    &:hover {
      color: $brand-color;
      text-decoration: underline;
    }
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
  
}

h1,
h2,
h3 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

:root{
  color-scheme: light dark;
}

.img-site-title{
  display:inline;
  height: $base-font-size * 1.625;
}

.underline{
  text-decoration: underline;
}


.profile{
  width: 100%;
  height: calc(100dvh - 54px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .center-flex{
    width: 100%;

    .profile-row{
      width: 100%;
      text-align: center;
      margin-top: 20px;
      
      .profile-image{
        margin: 10px auto;
        min-width: 200px;
        max-width: min(200px, 35%);
        aspect-ratio: 1/1;
        background-color: black;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }

      h1{
        // font-size: $base-font-size * 3;
        margin-top: 20px;
      }

      a{
        color: $grey-color-light;
        text-decoration: none;
        font-size: $base-font-size * 1.75;
        margin-right: 30px;
      }
      a:last-child{
        margin-right: 0;
      }
    }
  }



}

.publication-list-heading{
  margin-top: 20px;
  // font-size: $base-font-size * 2;
}

hr{
  margin: 20px 0;
}

table td {
  border: none;

}

table tr {
  border: none;
  background-color: none;
}

table{
  border: none;

  td{
    border: none;
  }

  tr{
    border: none;
  }

  tr {
    &:nth-child(even) {
      background-color: $codeblock-background-color-transparent;
    }
  }
}


body{
  // background-image: url(/assets/img/bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
}


.publications-container{
  width: 100%;
  margin-top: 20px;

  .publication-container{
    background-color: $codeblock-background-color-transparent;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;

    .publication-title{
      // font-size: $base-font-size * 1.625;
      font-weight: 300;
      color: $text-color;
      margin-bottom: 0;

      a{
        color: $text-color;
        text-decoration: none;
        text-decoration-line: underline;
      }
    }

    .publication-authors{
      // font-size: $base-font-size * 1.125;
      font-weight: 300;
      color: $grey-color;
      margin-bottom: 0;
    }

    .publication-venue{
      // font-size: $base-font-size * 1.125;
      font-weight: 300;
      color: $grey-color;
      margin-bottom: 0;
    }
    
    .publication-links{
      margin-bottom: 0;
    }

    .btn{
      color: $grey-color-light;
      padding: 4px 15px;
      margin-right: 8px;
      margin-top:8px;
      border: $grey-color 1px solid;
      border-radius: 5px;
      text-decoration: none;
      text-decoration-line: none;
      display: inline-block;
      // font-size: $base-font-size * 1.125;
    }

    .btn:hover{
      background-color: $grey-color;
    }

    .btn-award{
      color: gold;
    }

    button{
      color: $grey-color-light;
      background-color: rgba(0, 0, 0, 0);
      font-size: $base-font-size;
      padding:4px 15px;
      margin-right: 8px;
      margin-top:8px;
      border: $grey-color 1px solid;
      border-radius: 5px;
      text-decoration: none;
      text-decoration-line: none;
      display: inline-block;
    }

    button:hover{
      background-color: $grey-color;
      cursor: pointer;
    }

  }
}


.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 90%;
  padding: 20px;
  background: $grey-color-dark;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

pre:last-child{
  margin-bottom: 0;
}
figure.highlight:last-child{
  margin-bottom: 0;

}

/* Overlay (background that covers everything) */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
