* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
    
}
:root{
    color-scheme: light dark;
}

.header_small {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 100;

}

.logo_small {
    font-size: 24px;
    color: rgba(0, 0, 0, 0);
}


/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden_small {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open_small {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open_small span,
.drawer_open_small span:before,
.drawer_open_small span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #DDD;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open_small span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open_small span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open_small span {
    background: rgba(0, 0, 0, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open_small span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open_small span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content_small {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 100%;
    left: 0%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgb(110, 110, 110);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list_small {
    list-style: none;
}

.nav_item_small a {
    color: #fff;
    text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content_small {
    bottom: 0;
    /* メニューを画面に入れる */

}

/* ここまで */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: xx-large;
}

h1,
h2 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    background-image: url(/assets/img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    /* background-repeat: repeat; */
}

.col_left,
.col_right {
    width: 25%;
    position: fixed;
    height: 100dvh;

}

.col_left {
    left: 0;
    top: 0;
}

.col_right {
    right: 0;
    top: 0;
}

.col_middle {
    width: 50%;
    background-color: #333333;
    margin: 0 auto;
}


.links {
    width: 90%;
    margin-top: 40px;
    margin: 20px auto;
}

.nav {
    margin-top: 20px;
}

.nav a {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.nav a:first-child {
    width: 90%;
}

.nav_item {
    width: 70%;
}

.nav_top {
    width: 90%;
}



.col_left_virtual_parent{
    position: relative;
    height: 100%;
}

.copyright{
    width: 100%;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 3dvh;
    transform: translate(0, -50%);
}


.profile_image {
    height: 25dvh;
    aspect-ratio: 1/1;
    /* background-image: url(/assets/img/profile.jpg); */
    background-image: url(/assets/img/graduation_23-27\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}

.main {
    width: 85%;
    margin: 25dvh auto 0;
    justify-content: center;
}

.main.small_margin{
    margin: 18dvh auto 0;
}

.main_section {
    height: 100dvh;
    min-height: 600px;
    padding: 5px;
}

.readmore_section {
    padding: 5px
}


.main_top {
    height: 75dvh;
    width: 100%;
}
.main_top,
.main_section{
    position: relative;
}

.readmore_parent{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
    transform: translate(0, -50%);
    text-align: center;
}

.main_top .section_p {
    height: 100%;
    padding-top: 5%;
    text-align: center;
}

.main_top .icons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 7dvh auto;
    font-size: xx-large;
}

.readmore {
    height: 4dvh;
    margin: 0 auto;
}

.section_title {
    height: 5%;
}

.section_image {
    height: 30%;
    width: 100%;
    background-image: url(/assets/img/noimage.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #272727;
}

.section_image.section_image_past{
    background-image: url(/assets/img/D20_0020.JPG);;
}

.section_image.section_image_present{
    background-image: url(/assets/img/img_future.png);;
}

.section_image.section_image_future{
    background-image: url(/assets/img/DSC_0075_3.JPG);;
}
.main_subsection {
    height: 33%;
    width: 100%;
    padding: 5px 0;
}

.main_subsection h2 {
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_subsection p {
    padding-left: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.section_p {
    height: 56%;
    width: 100%;
    overflow: hidden;
    line-height: 1.7;
}


a {
    text-decoration: none;
}

button{
    text-decoration: none;
}



.publication_card {
    border: 1px solid #989898;
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.publication_author {
    color: #989898;
}

.publication_link {
    border: 1px solid #989898;
    border-radius: 0.3em;
    padding: 0 0.2em;
    margin-top: 0.4em;
    line-height: 1.5;
    display: inline-block;
}

button.publication_link{
    font-size: 1em;
}

.backlink_parent{
    line-height: 3em;
    padding: 0 5px;
}


.career_card{
    /* background-color: aqua; */
    display: flex;
    padding: 10px 0;
}

.career_head{
    /* background-color: aquamarine; */
    width: 40%;
}

.career_head h4 {
    color: #989898;
}

.career_detail{
    width: 60%;
    /* padding: 1em; */
}

.fa-twitter:before {
    content: '𝕏' !important;
    font-family: sans-serif !important;
    font-weight: bold;
}

.modal{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    position: fixed;
}

@media screen and (max-width: 768px) {

    .col_left,
    .col_right {
        display: none;
    }

    .col_middle {
        width: 100%;
    }

    .header_small{
        display: flex;
    }

    .nav_item{
        margin-left: -20px
    }

    .nav_item:first-child{
        margin-left: 0;
    }

    .main_top .icons {
        width: 80%;
    }

}